.hero__section {
  background-color: rgb(0, 0, 0);

  .wrapper__blob {
    position: absolute;
    inset: 0;
    filter: blur(100px);

    .blob {
      position: absolute;
      right: 0;
      width: 35%;
      height: 35%;
      border-radius: 50%;
      margin: auto;
      background: conic-gradient(
        from 0deg,
        #0e2148,
        #483aa0,
        #7965c1,
        #5409da,
        #4e71ff,
        #8dd8ff,
        #bbfbff
      );

      animation: spinBlob 6s linear infinite;
    }
  }
}

.animated-text {
  display: inline-block;
  background: linear-gradient(270deg, #ff0080, #7928ca, #2afadf, #ff0080);
  background-size: 800% 800%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  white-space: nowrap;
}

@keyframes spinBlob {
  from {
    transform: rotate(0deg) scale(2);
  }
  to {
    transform: rotate(360deg) scale(2);
  }
}
